/*Authorization form styles*/
.authform{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height: 90vh;
    text-align: center;
}
.authform__input{
    position: relative;
    margin:0 auto;
    display:block;
    padding: 0 5px;
    margin-top:10px;
    margin-bottom:15px;
    line-height: 25px;
    font-size: 16px;
    font-family:'Acrom-Light',sans-serif;
    font-weight: 700;
    border: 1px solid  #8C8C8C;
    border-radius:5px;
    box-shadow: 2px 2px 2px 1px rgba(140, 140, 140,.6);
    outline: none;
}
::placeholder{
    color:#8C8C8C;
}
.authform__input:focus{
    border: 1px solid #ED5992;
    box-shadow: 2px 2px 2px 1px #ED5992;
}
.authform__input:hover::placeholder{
    color:#ED5992;
}
.authform__input:focus::placeholder{
    color:#8C8C8C;
}
/* Submit buttin style */
.authform_submit{
    cursor: pointer;
    outline: none;
    display:block;
    position:relative;
    margin: 0 auto;
    width:50%;
    height:25px;
    border:1px solid #ED5992;
    color:#ED5992;
    border-radius:35px;
    background:transparent;
    font-family: 'Acrom-Light',sans-serif;
    font-weight:700;
}
.authform_submit:hover{
    border: 1px solid transparent;
    background-color:#ED5992;
    color:#fff;
}
.auth__error{
    font-family: 'Acrom-Light',sans-serif;
    font-size:16px; 
    font-weight:700;
    color:#ED5992;  
   
}